h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}

.ol {
  color: black;
  text-align: center;
  list-style-type: upper-roman;
}

.p {
  color: blue;
  text-align: center;
}